*{
    margin: 0;
    padding: 0;
}


.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    width: 100%;
    grid-area: h;
}

.header img{
    width: 30px;
}

.navbar {
    background-image: linear-gradient(rgba(34, 42, 69, 0.96), rgba(34, 42, 69, 0.96));
    grid-area: n;
}

.navbar nav{
    display: flex;
    flex-direction: column;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover, .nav a:active{
    color: #009be5;
}

.content {
    background-color: #009be5;
    grid-area: c;
    color: white;
}

.content img{
    width: 100%;
    height: 500px;
}